<!DOCTYPE html>
<html lang="en">
    <head>

<style>
#sbm {
  display: none;
}
</style>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Developer Dashboard</title>

        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="/css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link href="/css/confirm/jquery-confirm.css" rel="stylesheet" type="text/css">
      
        <!-- Odometer theme -->
        <link href="/css/odometer/themes/odometer-theme-car.css" rel="stylesheet" type="text/css">
        <script src="/js/odometer/odometer.js"></script>
        
    </head>
    <body>
        <div id="wrapper">
        <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Organization Name</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
 
                <ul class="nav navbar-right navbar-top-links">
                </ul>

        <!-- Top Navigation: Right Menu -->

        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
					<li>
                        <a href="#" class="active"><i class="fa fa-cogs" aria-hidden="true"></i>  Developer Options<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
                           <li>
                               <a href="/view/admin/dev/add"><i class="fa fa-user-plus" aria-hidden="true"></i> Add Developer</a>
                            </li>
                            <li>
                                <a href="/view/admin/update_dev"><i class="fa fa-upload" aria-hidden="true"></i> Update Developer Data</a>
                            </li>
                        </ul>
                    <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="/view/admin/system_interface" ><i class="fa fa-refresh" aria-hidden="true"></i> System Interface</a>
                    </li>
					<li>
						<a href="/pages/DSR.html" ><i class="fa fa-file-text" aria-hidden="true"></i> DSR</a>
					</li>
					<li>
						<a href="/pages/reportBug.html" ><i class="fa fa-bug" aria-hidden="true"></i> Report Bug</a>
					</li>
                    <li>
                        <a href="About.html" ><i class="fa fa-user" aria-hidden="true"></i> About Us</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="odometer" class="odometer pull-center" style="color:white; position: fixed; bottom:0;"></div>
    </nav>
            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Add Developer</h1>
                        </div>
						
						<div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form" id="addUser">
                                    <div class="form-group">
                                        <label for="userId" class="control-label">JIRA USER ID</label>
                                            <input type="text" class="form-control" id="userId" placeholder="JIRA USER ID (Case Sensitive)" required="required" type="text"><span id='uidReq'></span>
                                    </div>		
				                    <div class="form-group"><div class="form-group">
		                                <label for="name">Full Name</label>
                                            <input type="text" class="form-control" id="name" placeholder="Full Name"  required="required" type="text"><span id='nameReq'></span>
				                    </div>
				                    <div class="form-group">
                                        <label for="teamId">SELECT TEAM</label>
					                        <span><select class="form-control" id="teamId" data-live-search="true" required="required"> </span>
					                            <option data-tokens="main" value="main">MAINTAINACE</option>
					                            <option data-tokens="comp" value="comp">COMPLIANCE</option>
					                        </select>
                                    </div>
                                    <!--div class="col-lg-12 col-md-12"-->
                                    <button class="button btn btn-success" data-url='/api/v1/admin/dev/add' data-info='{"type":"POST"}' type="button" id="submitData">Create User</button>
                                    <button class="button btn btn-danger" data-url='/api/v1/admin/dev' data-info='{"type":"DELETE"}' type="button">Delete User</button>
                                    <button class="button btn btn-warning" data-url='/api/v1/admin/dev' data-info='{"type":"PUT"}' type="button">Update User</button>
                                    <button class="btn btn-info" type="reset">Reset</button>
                                    <!--/div-->
                                </form>
                               
                                <div class="row">
                                    <div class="success"></div>
                                </div>
		           </div>
			</div>
		</div>

                        <!-- /.col-lg-12 -->
            </div>
                    <!-- /.row -->
          </div>
                <!-- /.container-fluid -->
        </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="/js/validator/multifield.js"></script>
        <script src="/js/validator/validator.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/validator/jquery.validate.min.js"></script>
        <script src="/js/validator/additional-methods.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/js/startmin.js"></script>

        <script src="/js/confirm/jquery-confirm.js"></script>
        
        <script>
	    $(document).ready(function(){
            $.get("/api/v1/widget/hit-count", function(data, status){
                document.getElementById('odometer').innerHTML = data.count;
            });

            var validator = new FormValidator({"events" : ['blur', 'input', 'change']}, document.forms[0]);

            // on form "submit" event
            document.forms[0].onsubmit = function(e){
                var submit = true,
                validatorResult = validator.checkAll(this);

                console.log(validatorResult);
                return !!validatorResult.valid;
            };

            // on form "reset" event
            document.forms[0].onreset = function(e){
                validator.reset();
            };

            var form = $('#addUser');
            form.validate();

                // click on button submit
                $('.button').click(function(event) {
                    //alert(form.valid());
                    if(form.valid()){
                    var formData = {
                        'name'   :$('#name').val(),
                        'team'   :$('#teamId option:selected').val(),
                        'user_id':$('#userId').val()
                    };
/*
                    if ($('#name').val() === '')
                    {
                        $('#uidReq').append('<div class="alert alert-warning">' + 'User Id Required' + '</div>') 
                        return false;
                    }

                    if($('#userId option:selected').val() === '')
                    {
                        $('#nameReq').append('<div class="alert alert-warning">' + 'Name Required' + '</div>')
                        return false;
                    }
*/
                    console.log(formData);

                    var sendData = JSON.stringify(formData);
                    var type = $(this).data('info').type;
                    //console.log(type);

                     $.ajax({
                         //url: '/api/v1/admin/dev/add',
                         url:  $(this).data('url'),
                         type : $(this).data('info').type,
                         //type:'POST',
                         dataType : 'json',
                         data : sendData,
                         encode : true
                     }).done(function(data) {

                      console.log(data);

                      if(data.status != 1 || data.status == -1) {
                         event.preventDefault();
		             if(data.status == -1) {
                                 $.alert({
                                     title: 'Warning',
                                     theme: 'supervan',
                                     icon: 'fa fa-warning',
                                     type: 'orange',
                                     content: 'User already exists!',
                                 });
                                 if(type === 'POST') {
                                     $('.success').append('<div class="alert alert-warning">' + 'User already exists' + '</div>').fadeOut(5000);
                                 }
                                 else if(type === 'PUT') {
                                     $('.success').append('<div class="alert alert-warning">' + 'User does not exists' + '</div>').fadeOut(5000);
                                 }
                                 else {
                                     $('.success').append('<div class="alert alert-warning">' + 'User does not exists' + '</div>').fadeOut(5000);
                                 }
                                 return false;
                             } else if (data.status == 0) {
                                 $.alert({
                                     title: 'Error',
                                     theme: 'supervan',
                                     icon: 'fa fa-error',
                                     type: 'red',
                                     content: 'Server Error',
                                 });
                               $('.success').append('<div class="alert alert-error">' + 'Exception: Server Error' + '</div>').fadeOut(5000);
                              return false;
                          }
                     } else {
                                 $.alert({
                                     title: 'Success',
                                     theme: 'supervan',
                                     icon: 'fa fa-success',
                                     type: 'green',
                                     content: 'Request Completed Successfully',
                                 });
                                 if(type === 'POST') {
                                     $('.success').append('<div class="alert alert-success">' + 'User Registered Successfully' + '</div>').fadeOut(5000);
                                 }
                                 else if(type === 'PUT') {
                                     $('.success').append('<div class="alert alert-success">' + 'User Updated Successfully' + '</div>').fadeOut(5000);
                                 }
                                 else {
                                     $('.success').append('<div class="alert alert-success">' + 'User Deleted Successfully' + '</div>').fadeOut(5000);
                                 }

                     }
             });
             }
             //alert("Required");
             
           });
         });
		</script>
		
    </body>
</html>
