<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Developer Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<link href="/css/odometer/themes/odometer-theme-car.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="wrapper">
 <div class="overlay"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="Dashboard.html">ORG NAME (MOVE TO CONF)</a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Top Navigation: Right Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown navbar-inverse">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> secondtruth <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <a href="Dashboard.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
					<li>
                        <a href="#" class="active"><i class="fa fa-cogs" aria-hidden="true"></i>   Developer Options<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
                            <li>
                                <a href="view/dev/add"><i class="fa fa-user-plus" aria-hidden="true"></i> Add Developer</a>
                            </li>
                            <li>
                                <a href="pages/update_dev.html"><i class="fa fa-upload" aria-hidden="true"></i> Update Developer Data</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
					<li>
						<a href="pages/DSR.html" ><i class="fa fa-file-text" aria-hidden="true"></i> DSR</a>
					</li>
					<li>
						<a href="pages/reportBug.html" ><i class="fa fa-bug" aria-hidden="true"></i> Report Bug</a>
					</li>
					<li>
						<a href="view/about" ><i class="fa fa-user" aria-hidden="true"></i> About Us</a>
					</li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper" style="background-color:#133144">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="color:white;">Dashboard</h1>
                </div>
            </div>
			
			<!-- /.row -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--<div class="huge">26</div> -->
                                        <div>CC Ticket Template</div>
										<span>Maintenance</span>
                                    </div>
                                </div>
                            </div>
                            <a href="pages/deploy_plan.html">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa  fa-server fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                       <!-- <div class="huge">12</div> -->
                                        <div>Deploy Checklist</div>
										<span>Maintenance & Compliance</span>										
                                    </div>
                                </div>
                            </div>
                            <a href="pages/Deployment_checklist.html">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
					<div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-ticket fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="ticketCount"></div>
                                        <div>Ticket Statistics</div>
                                    </div>
                                </div>
                            </div>
                            <a href="pages/Afour-dev.html">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">124</div>
                                        <div>Something!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>					
                </div>
            <!-- ... Your content goes here ... -->
			    <div class="row">
				
				 <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Ticket Summary
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
								<canvas id="Chart1"></canvas>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
					</div>
				
				<div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bell fa-fw"></i> Notifications Panel
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                            <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                            </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                            <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                            </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                                            <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                            </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-tasks fa-fw"></i> New Task
                                            <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                            </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                            <span class="pull-right text-muted small"><em>11:32 AM</em>
                                            </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                            <span class="pull-right text-muted small"><em>11:13 AM</em>
                                            </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                            <span class="pull-right text-muted small"><em>10:57 AM</em>
                                            </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                            <span class="pull-right text-muted small"><em>9:49 AM</em>
                                            </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-money fa-fw"></i> Payment Received
                                            <span class="pull-right text-muted small"><em>Yesterday</em>
                                            </span>
                                    </a>
                                </div>
                                <!-- /.list-group -->
                                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
					</div>
				</div>

        </div>
			<div class="row">
                <div class="col-sm-12">
                    <h6 class="text-center minheight" style="color:white;">Last Updated <strong><span id="lastUpdatedOn"></span></strong></h6>
                    <h6 class="text-center minheight" style="">Last Updated <strong><span id="lastUpdatedOn"></span></strong></h6>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 pull-right">      
					<div id="odometer" class="odometer"></div>							
				</div>	
            </div>
	    </div>
	</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/startmin.js"></script>

<!-- Odometer theme -->
<script src="../js/odometer/odometer.js"></script>

<script src="../js/Chartjs/Chart.js"></script>

<script>

$(document).ready(function() {
    var result;

	$.get("/api/v1/widget/hit-count", function(data, status){
        document.getElementById('odometer').innerHTML = data.count;
    });
	
	//Ticket Summary GET req.
	$.get("data.json", function(data, status){
		result = data;
	});
	
	$.get("/api/v1/widget/count?type=ticket", function(data, status) {
        document.getElementById('ticketCount').innerHTML = data.count ;
    });
	
	//Stacked Horizontal bar chart:
	var barOptions_stacked = {
		tooltips: {
			enabled: true
		},
		hover :{
			animationDuration:0
		},
		scales: {
			xAxes: [{
				ticks: {
					beginAtZero:true,
					fontFamily: "'Open Sans Bold', sans-serif",
					fontSize:11
				},
				scaleLabel:{
					display:true
				},
				gridLines: {
				}, 
				stacked: true
			}],
			yAxes: [{
				gridLines: {
					display:true,
					color: "#fff",
					zeroLineColor: "#fff",
					zeroLineWidth: 0
				},
				ticks: {
					fontFamily: "'Open Sans Bold', sans-serif",
					fontSize:11
				},
				stacked: true
			}]
		},
		legend:{
			display:true
		},
		
		animation: {
			onComplete: function () {
				var chartInstance = this.chart;
				var ctx = chartInstance.ctx;
				ctx.textAlign = "left";
				ctx.font = "9px Open Sans";
				ctx.fillStyle = "#fff";
	
				Chart.helpers.each(this.data.datasets.forEach(function (dataset, i) {
					var meta = chartInstance.controller.getDatasetMeta(i);
					Chart.helpers.each(meta.data.forEach(function (bar, index) {
						data = dataset.data[index];
						if(i==0){
							ctx.fillText(data, 50, bar._model.y+4);
						} else {
							ctx.fillText(data, bar._model.x-25, bar._model.y+4);
						}
					}),this)
				}),this);
			}
		},
		pointLabelFontFamily : "Quadon Extra Bold",
		scaleFontFamily : "Quadon Extra Bold",
	};

	var ctx = document.getElementById("Chart1");
	var myChart = new Chart(ctx, {
		type: 'horizontalBar',
		data: {
			labels: ["OCPS", "OMNI", "SCO", "TECH", "CC", "NE", "A4T"],
			
			datasets: [{
				data: [727, 589, 537, 543, 574, 200, 140],
				backgroundColor: "rgba(63,103,126,1)",
				hoverBackgroundColor: "rgba(50,90,100,1)"
			},{
				data: [238, 553, 746, 884, 903,200, 140],
				backgroundColor: "rgba(163,103,126,1)",
				hoverBackgroundColor: "rgba(140,85,100,1)"
			},{
				data: [1238, 553, 746, 884, 903, 200, 140],
				backgroundColor: "rgba(63,203,226,1)",
				hoverBackgroundColor: "rgba(46,185,235,1)"
			}]
		},
	
		options: barOptions_stacked,
	});	
});

</script>

</body>
</html>
